@charset "UTF-8";

/* ---- fonts ---- */
@font-face {
  font-family: "Bitstream Vera Sans Mono";
  font-style: normal;
  src: url("./fonts/bitstream-vera-sans-mono.woff") format("woff");
}

@font-face {
  font-family: brown-icons;
  font-style: normal;
  src: url("./fonts/brown-icons.woff") format("woff");
}

@font-face {
  font-family: "Circular-Bold";
  font-style: normal;
  src: url("./fonts/circular-bold.woff") format("woff");
}

@font-face {
  font-family: "Circular-Bold";
  font-style: italic;
  src: url("./fonts/circular-bolditalic.woff") format("woff");
}

@font-face {
  font-family: "Circular-Book";
  font-style: normal;
  src: url("./fonts/circular-book.woff") format("woff");
}

@font-face {
  font-family: "Circular-Book";
  font-style: italic;
  src: url("./fonts/circular-bookitalic.woff") format("woff");
}

@font-face {
  font-family: "Circular-Medium";
  font-style: normal;
  src: url("./fonts/circular-medium.woff") format("woff");
}

@font-face {
  font-family: "Circular-Medium";
  font-style: italic;
  src: url("./fonts/circular-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: minion-pro;
  font-style: normal;
  src: url("./fonts/minion-pro.woff") format("woff");
}

.sans {
  font-family: Circular-Book, Arial, Helvetica, sans-serif !important;
}

.sans-bold {
  font-family: Circular-Bold, Circular-Book, Arial, Helvetica, sans-serif !important;
}

.serif {
  font-family: minion-pro, "Times New Roman", serif !important;
}

.mono {
  font-family: "Bitstream Vera Sans Mono", Menlo, Monaco, Consolas, Courier,
    monospace !important;
}

/* ---- headings ---- */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Circular-Bold, Circular-Book, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* ---- paragraphs ---- */
p {
  font-family: minion-pro, "Times New Roman", serif;
  font-size: 1em;
  line-height: 1.75;
}
